* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(#001F04, #3b8d43);
    background-size: cover;
    min-height: 100vh;
    font-family: "Raleway", sans-serif;
}

/*Nav Bar*/
nav {
    background-color: #9BFFA6;
    border: 2px solid #1E7F29;
    border-radius: 10px;
    padding: 24px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 48px;
    min-height: fit-content;
    min-width: fit-content;
    width: fit-content;
    box-shadow: 5px 5px 100px #9BFFA6;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: #001F04;
    padding: 6px;
    border-radius: 5px;
}

a:hover {
    background-color: #63b36b;
    color: #c8f6cd;
}

li {
    display: flex;
    gap: 72px;
}

/*Fundo*/

#Fundo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    height: 100%;
    min-width: fit-content;
    min-height: fit-content;
    background: url(./assets/fundo.jpeg) no-repeat top center/cover;
    padding-bottom: 56px;
}

#Fundo h1 {
    display: flex;
    align-self: center;
    font-size: 90px;
    color: #001F04;
    text-shadow: 5px 5px 15px #9BFFA6;
    font-weight: 400;
    font-style: italic;
}

/*Card história*/

#Historia {
    background-color: #4E0D0D;
    border: 2px solid #001F04;
    box-shadow: 5px 5px 100px #f18282b4;
}

#textoHistoria {
    font-size: 17px;
    color: white;
    text-align: justify;
    width: 700px;
}

/*Legenda das imagens doas cards*/
.textoLegenda {
    font-size: 16px;
    color: white;
}

h2 {
    color: #9BFFA6;
    font-size: 70px;
    text-shadow: 5px 5px 5px #001f049a;
    font-weight: 400;
    font-style: italic;
}

h3 {
    color: #001F04;
    font-weight: 400;
    font-size: 30px;
}

#maomao {
    background-color: #07465E;
    border: 2px solid #021337;
    box-shadow: 5px 5px 100px #07455ea1;
}

#jinshi {
    background-color: #331E3C;
    border: 2px solid #1D1120;
    box-shadow: 5px 5px 100px #331e3ca5;
}


#links {
    display: flex;
    justify-content: space-between;
    gap: 56px;
}

.Imagem {
    height: 500px;
    width: 350px;
    border-radius: 5px;
}

.BordaVideo{
    border: 2px solid #021337; 
    border-radius: 5px;
}

.CardLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9BFFA6;
    border: 2px solid #001F04;
    border-radius: 5px;
    min-width: fit-content;
    min-height: fit-content;
    gap: 16px;
    color: #001F04;
    font-size: 20px;
    padding: 24px;
}

.Centro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 56px;
    padding: 48px;
}

.Card {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 32px;
    border-radius: 10px;
    min-height: fit-content;
    min-width: fit-content;
    width: fit-content;
}

.Imagemcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.textocard {
    font-size: 17px;
    color: white;
    width: 370px;
    text-align: justify;
}